<div class="page-container">
    <div class="program-nav">
        <a routerLink="/program/change" class="nav-link"><span class="nav-link-span"><span class="u-nav">Change Program</span></span></a>
        <a routerLink="/program/create-activity" class="nav-link"><span class="nav-link-span"><span class="u-nav">Create Activity</span></span></a>
    </div>
</div>

<div class="container">
    <div class="panel">
        
        
        <div class="state"><br><i class="fa-solid fa-clapperboard"></i><h1>Animation Porgram</h1></div>
            
        <div class="programTime">Morning</div>

     <div class="activityContainer">
         <div  class="time">9:00 </div>
         <app-activity-info [activity]="activities[0]"></app-activity-info>
     </div>

     <div class="activityContainer">
         <div  class="time">10:00 </div>
         <app-activity-info [activity]="activities[1]"></app-activity-info>
         
     </div>

     <div class="activityContainer">
         <div  class="time">11:00 </div>
         <app-activity-info [activity]="activities[2]"></app-activity-info>
     </div>


     <div class="programTime">Afternoon</div>

         
     <div class="activityContainer">
         <div  class="time">16:00 </div>
         <app-activity-info [activity]="activities[3]"></app-activity-info>
       
     </div>

     <div class="activityContainer">
         <div  class="time">17:00 </div>
         <app-activity-info [activity]="activities[4]"></app-activity-info>
         
     </div>

     <div class="activityContainer">
         <div  class="time">18:00 </div>
         <app-activity-info [activity]="activities[5]"></app-activity-info>
         
     </div>
        
    </div>
</div>
