<body>
    <header>
        <div>Welcome to Cinemania</div>
    </header>
    <div id="forUs">
        

        
        <div class="rowDirection">
            <p>HELLO FRIENDS OF KINO CINEMANIA AND WELCOME TO OUR SITE!
                The Kino CINEMANIA site informs you in detail about premiere and upcoming films, about events in the cinema and enables easy and quick purchase or reservation of ticket purchases.</p>
                <img src="https://res.cloudinary.com/dclnlkn0x/image/upload/v1670201893/63fb4a425b18282d05ff1f3517271fdb_wiybmr.jpg" alt="">
        </div>
            <div id="iconsInfo">
                <div class="iconContainer">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <p>The largest Bulgarian cinema chain in Bulgaria operates 3 cinemas with 45 screens in 3 cities - Sofia, Varna, Plovdiv.</p>
                </div>
                <div class="iconContainer">
                    <i class="fa-solid fa-music"></i>
                    <p>The most modern Dolby Atmos sound system, which offers a 360-degree sound panorama, is presented in Bulgaria by Cinemania.</p>
                </div>
    
            </div>
        
        <div class="rowDirection">
            <img src="https://res.cloudinary.com/dclnlkn0x/image/upload/v1670201894/wow_xl_collage.6c6fe3e5_rugevb.png" alt="">
            <p>All Cinemania cinemas are equipped with top-class technology, modern design, comfortable seats to satisfy even the most demanding viewers. 
              Cinemania Cinema develops special concepts for the ultimate cinema experience such as IMAX, LUXE, PREMIUM and VIP.  
            The digital cinema equipment makes it possible to show alternative content (operas, ballets, concerts, sports events) including live, through satellite connection.</p>
        </div>
         
             
    </div>
</body>