<body>
    <header>
        <div id="headerContainer">
            <div>Welcome to Paradise Animation</div>
        </div>
        
    </header>
    <div id="forUs">
        
        
        
        <div class="rowDirection">
            <p>Dear children of hotel Maritim Blue Paradise, we are happy to present you that we are having children activities in our hotel every day of the week durring the summer. We are having a kid club where you can play games, draw paints and chill with entertainers.
                Every day we are having a different theme, like "Pirate Day", "Color Day", "Magical Day" and even more.At 8:00PM-8:300PM we organize kids disco where we dance your favorite songs with you.
            </p>
                <img src="https://res.cloudinary.com/dclnlkn0x/image/upload/v1670791894/292282648_5193363460770831_7769613315670509678_n_sx3g52.jpg" alt="">
        </div>
            <div id="iconsInfo">
                <div class="iconContainer">
                    <i class="fa-solid fa-calendar"></i>
                    <p>Working Time</p>
                    <div id="WorkingTimeContainer">
                       <p>9:00AM-12:00AM</p>
                       <p>4:00PM-8:00PM</p>
                    </div>
                  
                </div>
                <div class="iconContainer">
                    <i class="fa-solid fa-star"></i>
                    <div></div>
                    <p>Night Shows</p>
                    <div id="WorkingTimeContainer">
                        <p>Every night from 9:00PM-10:00PM we organize "Night Show". Some of our shows are "Disco Night", "Karaoke Night", "Dance Show", "Music Show", "Tornament", "Quiz" and "Beach Party"</p>
                     </div>
                </div>
    
            </div>
        
        <div class="rowDirection">
            <img src="https://res.cloudinary.com/dclnlkn0x/image/upload/v1670790726/297226315_5290925557681287_5578175465079697297_n_awy0gu.jpg" alt="">
            <p>Dear guests of hotel Maritim Blue Paradise, we are happy to present you that we are having sport activities in our hotel every day of the week durring the summer. We are having activities in and around the pool, on the beach and in the hotel. Some of our activities are water gymnastic, aqua gym, tenis, voleyball, beach football, water polo, bocha, board games and many more.</p>
        </div>
         
             
    </div>
</body>