<footer>
    <p>Email: Cinemania@gmail.com</p>
    <p>Phone number: +359 89 9131 855</p>
     
     <div>
       Adresses:
        <div class="links-container">
            <p>Sofia, Mladost 3</p>
            <p>Varna, Viarnost 19</p>
            <p>Plovdiv, Detelina 27</p>
           
        </div>
    </div>
    <div>
        Follow Us
        <div class="links-container">
            <a href="https://www.facebook.com/profile.php?id=100064852907469"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/latona_cinema/?hl=bg"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/worldcinemania"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    
</footer>