<footer>
   
    <p>Email: ParadiseAnimation@gmail.com</p>
    <p>Phone number: +359 89 9131 855 </p>
     
     <div>
        <div class="links-container">
            <p>Albena Resort, 9620 Albena Resort </p>
        </div>
    </div>
    <div>
        Follow Us
        <div class="links-container">
            <a href="https://www.facebook.com/ParadiseBlueHotel"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/albena_resort_bulgaria/?hl=bg"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/maritimmalta"><i class="fa-brands fa-twitter"></i></a>
            
        </div>
        
    </div>
    <svg height="40" width="100">
        <text x="0" y="15" fill="white">Paradise</text>
        Sorry, your browser does not support inline SVG.
      </svg>
    
</footer>